[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
redis = "*"
fastapi = "*"
uvicorn = "*"
tortoise-orm = "*"
asyncpg = "*"
pydantic = {extras = ["email"], version = "*"}
python-dotenv = "*"
pydantic-settings = "*"
sqlalchemy = "*"
numpy = "*"
apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.13"
